<div>
  <h1>Eliminar un libro</h1>
  <form [formGroup]="searchForm">
    <div class="mb-3">
      <label for="search" class="form-label">Buscar Libro</label>
      <input
        type="text"
        class="form-control"
        id="search"
        formControlName="searchQuery"
        placeholder="Ingrese el ID del libro"
      />
      <div *ngIf="searchForm.get('searchQuery')?.touched && searchForm.get('searchQuery')?.invalid" class="text-danger mt-2">
        <p *ngIf="searchForm.get('searchQuery')?.errors?.['required']">
          Este campo es obligatorio.
        </p>
        <p *ngIf="searchForm.get('searchQuery')?.errors?.['pattern']">
          Solo se permiten valores numéricos.
        </p>
      </div>
    </div>    
    <button type="button" class="btn btn-primary" (click)="buscarLibro()">Buscar</button>
  </form>

  <!-- manejo de errores -->
  <div class="mt-3">
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
  </div>

  <!-- mostrar la informacion del libro -->
  <div *ngIf="book" class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">{{ book.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Autor: {{ book.author }}</h6>
      <p class="card-text">Género: {{ book.genre }}</p>
      <p class="card-text" *ngIf="book.publishedYear">Año de publicación: {{ book.publishedYear }}</p>
      <button class="btn btn-danger" (click)="eliminarLibro()">Eliminar</button>
    </div>
  </div>
</div>
