<ng-container >
  <div>
    <h1>Agregar un nuevo libro:</h1>
    <div>
      <form [formGroup]="formularioCrear" (ngSubmit)="crear()">
          <div class="mb-3">
            <label for="title" class="form-label">Titulo</label>
            <input [ngClass]="{'is-invalid':hasErrors('title', 'required')}" type="text" class="form-control" id="title" formControlName="title">
            <div class="text-danger" *ngIf="hasErrors('title', 'required')">Campo requerido</div>
          </div>
          <div class="mb-3">
              <label for="author" class="form-label">Autor</label>
              <input [ngClass]="{'is-invalid':hasErrors('title', 'required')}" type="text" class="form-control" id="author"formControlName="author">
              <div class="text-danger" *ngIf="hasErrors('author', 'required')">Campo requerido</div>
            </div>
            <div class="mb-3">
              <label for="genre" class="form-label">Género</label>
              <select class="form-select" id="genre" formControlName="genre">
                <option value="" disabled selected>Seleccione un género</option>
                <option *ngFor="let genre of literaryGenres" [value]="genre.name">
                  {{ genre.name }}
                </option>
              </select>
              <div class="text-danger" *ngIf="hasErrors('genre', 'required')">Campo requerido</div>
            </div>            
          <div class="mb-3">
              <label for="publishedYear" class="form-label">Publicacion</label>
              <input type="text" class="form-control" id="publishedYear"formControlName="publishedYear">
            </div>           
            <button type="submit" class ="btn btn-primary">Crear</button>
        </form>
  </div>
  </div>
</ng-container>