<div class="container mt-5">
    <h1 class="text-center mb-4">Bienvenido a la Gestión de Libros</h1>
    <div class="row justify-content-center">
      <!-- bookManagment -->
      <div class="col-md-4">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title">Ver Libros</h5>
            <p class="card-text">Aqui se muestra el catálogo de libros completo.</p>
            <a routerLink="/booksManagment" class="btn btn-primary">Ir a Libros</a>
          </div>
        </div>
      </div>
      <!-- addBook -->
      <div class="col-md-4">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title">Agregar un Libro</h5>
            <p class="card-text">Aqui se agrega un libro nuevo al catálogo.</p>
            <a routerLink="/addBook" class="btn btn-success">Agregar Libro</a>
          </div>
        </div>
      </div>
      <!-- bookDetail -->
      <div class="col-md-4">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title">Buscar un Libro</h5>
            <p class="card-text">Funcion para buscar un libro específico.</p>
            <a routerLink="/book-detail" class="btn btn-info">Buscar Libro</a>
          </div>
        </div>
      </div>
      <!-- editBook -->
      <div class="col-md-4 mt-4">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title">Editar un Libro</h5>
            <p class="card-text">Modifica un libro existente en el catálogo.</p>
            <a routerLink="/editBook" class="btn btn-warning">Editar Libro</a>
          </div>
        </div>
      </div>
      <!-- deleteBook -->
      <div class="col-md-4 mt-4">
        <div class="card text-center shadow">
          <div class="card-body">
            <h5 class="card-title">Eliminar un Libro</h5>
            <p class="card-text">Eliminar un libro del catálogo.</p>
            <a routerLink="/deleteBook" class="btn btn-danger">Eliminar Libro</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
